@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Creepster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353535;
}

#canvas1 {
    border: 5px solid #70774f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

img {
    display: none;
}