@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    background: maroon;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameTitle {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 5em;
    text-shadow: 0 0 10px rgb(150 150 150 / 1);
}

#canvasDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-image: url('assets/start-menu-bg.jpg');
    border: 2px solid rgb(250 206 250);
    background-size: cover;
}

#startButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250 206 250);
    text-align: center;
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    background-color: #24a0ed;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(250 206 250);
    transition: 0.25s;

    &:hover {
        transform: translate(-50%, -50%) scale(1.03);
    }
    &:active {
        transform: translate(-50%, -50%) scale(1);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid black;
    z-index: 1;
}

#canvasTextScreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgb(41 0 24 / 0.7);
}

#centerSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5em;
    font-family: 'Rajdhani', sans-serif;
}

#topTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Rajdhani', sans-serif;
}