body {
    margin: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    background: #f9f9f9;
    border: 3px solid #333;
    border-radius: 10px;
    touch-action: none;
}