@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Spice", sans-serif;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.controls {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
}

.controls > button {
    padding: 10px 15px;
    background-color: transparent;
    font: 22px Bangers;
    border: 1px solid silver;
    margin: 5px;
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    font-family: "Bungee Spice", sans-serif;
    transition: .3s;
}

.controls > button:is(:hover, :focus, :focus-visible) {
    background-color: orange;
    box-shadow: 4px 4px 4px black;
    text-shadow: 2px 2px 2px black;
    transform: scale(1.04) translateY(-4px);
}

.assets {
    display: none;
}