@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #66023c, #cd1c18);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 48px;
    text-shadow: 4px 4px 0px black;
}

main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgb(255 255 255 / 0.35);
    backdrop-filter: blur(20px);
    box-shadow: 0 3rem 5rem rgb(0 0 0 / 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .75s;
}

.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.player-active {
    background-color: rgb(255 255 255 / 0.4);

    .name {
        font-weight: 700;
    }
    .score {
        font-weight: 400;
    }
    .current {
        opacity: 1;
    }
}

.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 10px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all .75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}