@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #66023c, #cd1c18);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 48px;
    text-shadow: 3px 3px 0px black;
}

.info {
    position: absolute;
    bottom: 44px;
    right: -10px;
}

.info span {
    position: absolute;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding-inline: 10px;
    cursor: help;
}

ul {
    position: absolute;
    top: 40px;
    right: -150px;
    min-width: 260px;
    background-color: rgb(255 255 255 / 0.5);
    list-style: none;
    padding-inline: 6px;
    opacity: 0;
    transition: .2s;

    li {
        font-size: 14px;
        min-width: fit-content;
        text-shadow: none;
        color: black;
        font-weight: 400;
    }
}

.info span:hover ~ ul {
    opacity: 1;
}

main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgb(255 255 255 / 0.35);
    backdrop-filter: blur(20px);
    box-shadow: 0 3rem 5rem rgb(0 0 0 / 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .75s;
}

.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.player-active {
    background-color: rgb(255 255 255 / 0.4);

    .name {
        font-weight: 700;
    }
    .score {
        font-weight: 400;
    }
    .current {
        opacity: 1;
    }
}

.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 10px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all .75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .2s;
    background-color: rgb(255 255 255 / 0.6);
    padding: 0.7rem 2.5rem;
    border-radius: 50px;
    box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 0.1);
    cursor: pointer;

    &:hover {
        background-color: rgb(255 255 255 / 0.7);
        corner-shape: superellipse(0);
    }
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.btn-hew {
    top: 4rem;
}

.btn-roll {
    top: 40rem;
}

.btn-hold {
    top: 47rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 0.5);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgb(0 0 0 / 0.2);
}

.player-winner {
    background-color: #2f2f2f;
}

.player-winner .name {
    font-weight: 700;
    color: #c7365f;
}

/* .hidden {
    display: none;
} */