@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --bg-main: #f0f2f5;
    --bg-body: #f1f2fa;
    --color-text: #111;
    --filled-color: #000;
    --filled-bg: #f1f2fa;
    --white: #fff;
    --blue: #00aeef;
    --red: #e91e63;
    --black: #000;
    --nav-size: 70px;
    --sudoku-cell-size: 50;
    --border-radius: 10px;
    --space-y: 20px;
    --gap: 5px;
    --font-size: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

.dark {
    --bg-main: #2a2a38;
    --bg-body: #1a1a2e;
    --color-text: #9a9a9a;
    --filled-color: #4f4f63;
    --filled-bg: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--bg-body);
    overflow-x: hidden;
    user-select: none;
}

input {
    border: 2px solid var(--bg-main);
    color: var(--color-text);
    transition: all 0.25s ease;
}

input:focus {
    border: 2px solid var(--blue);
    outline: transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    background-color: var(--bg-body);
    color: var(--color-text);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 2px var(--bg-main);
    z-index: 99;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: var(--nav-size);
}

.nav-logo {
    color: red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.dark-mode-toggle {
    color: blue;
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.bxs-sun {
    display: none;
}

.bxs-moon {
    display: inline-block;
}

.dark .bxs-sun {
    display: inline-block;
}

.dark .bxs-moon {
    display: none;
}

.main {
    padding-top: var(--nav-size);
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 400px;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.active {
        transform: translateX(0);
    }

    .start-screen > * + * {
        margin-top: 20px;
    }
}

.input-name {
    height: 80px;
    width: 280px;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--bg-main);
    padding: 20px;
    font-size: var(--font-size-lg);
    text-align: center;
}

.btn {
    height: 80px;
    width: 280px;
    background-color: var(--bg-main);
    color: var(--color-text);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.input-err {
    border-color: var(--red);
    animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
    from, to {
        transform: translateY(0);
    }
    25% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.main-game {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
    }
}

.main-sudoku-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(9, 1fr);
}

.main-sudoku-cell {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-body);
    color: var(--blue);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;

    &.filled {
        background-color: var(--filled-bg);
        color: var(--filled-color);
    }
    &.selected {
        background-color: var(--blue);
        color: var(--white);
    }
    &:hover {
        border: 2px solid var(--blue);
    }
    &.hover {
        border: 3px solid var(--blue);
    }
    &.err {
        background-color: var(--red);
        color: var(--white);
    }
}

.dark .main-sudoku-cell.hover {
    border: 1px solid var(--blue);
}

.main-game-info {
    margin-top: var(--space-y);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main-game-info-box {
    height: 45px;
    background-color: var(--bg-main);
    color: var(--color-text);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    padding-inline: 20px;
    font-size: var(--font-size);
}

.main-game-info-time {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    margin-bottom: auto;
}