body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(#aee1f9, #fdf6f0);
    padding: 16px 10px;
    min-height: 100vh;
}

#hud {
    width: 820px;
    display: flex;
    justify-content: space-between;
    color: #222;
}

#score {
    font-size: 18px;
    font-weight: 600;
}

canvas {
    background: linear-gradient(#baf0ff, #e9fff6);
    border: 4px solid #333;
    border-radius: 8px;
    margin-top: 6px;
}

button {
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 16px;
    border: none;
    corner-shape: scoop;
    margin-top: 8px;
    cursor: pointer;
    background: #ffcc00;
    box-shadow: 0 3px 0 #caa300,
    inset 0 3px 0 #caa300;
    transition: all .25s;

    &:hover {
        border-radius: 12px;
        transform: translateY(-2px) scale(1.02);
        background: #ffd633;
    }
    &:active {
        transform: translateY(0) scale(1);
        border-radius: 16px;
    }
}

#itemIndicator {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #222;
}