body {
    background-color: black;
    background-image: url('images/bg.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    display: none;
    width: 200px;
    position: fixed;
    height: 100vh;
    left: 100%;
    margin-left: -250px;
    background-color: #ddd;
    border-left: 5px solid #bbb;
    padding: 20px;
}

#closeside {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.character {
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
}

.character .body {
    width: 32px;
    height: 32px;
    background-image: url('images/body0.png');
    background-position: 64px 0;
}

.character .head {
    width: 32px;
    height: 32px;
    background-image: url('images/head0.png');
    margin-bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 -64px;
}

aside ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
    overflow: auto;
}

.heads li,
.bodies li {
    width: 32px;
    height: 32px;
    background-position: 0 -64px;
    float: left;
    cursor: pointer;
    border: 2px solid #ddd;
    margin-right: 4px;

    &:hover {
        border-color: red;
    }
}

#head0 {
    background-image: url('images/head0.png');
}

#head1 {
    background-image: url('images/head1.png');
}

#head2 {
    background-image: url('images/head2.png');
}

#head3 {
    background-image: url('images/head3.png');
}

#head4 {
    background-image: url('images/head4.png');
}

.bodies li {
    background-position: 64px 0;
}