* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.assets {
    display: none;
}