* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin-top: 2rem;
    text-shadow: 1px 1px 0 lightblue,
    2px 2px 0 lightseagreen;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

canvas {
    background: #222;
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
}

button {
    background-color: azure;
    margin: 30px 10px 10px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: .25s;

    &:hover {
        background-color: aqua;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgb(255 255 255 / 0.4);
    }

    &:active {
        transform: translateY(0) scale(0.99);
    }
}

#restartBtn {
    display: none;
}