* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    color: #ff0;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 20px;
    transform-origin: bottom;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    50% {
        letter-spacing: 2px;
        scale: 1.05;
    }
}

#gameCanvas {
    background: #222;
    border: 4px solid #bbb;
    border-radius: 12px;
    text-align: center;
    /* display: none; */
}

#overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0;
    text-shadow: 2px 2px 8px #000;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
    animation: pulse 2s linear infinite;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: none;
}

#confettiCanvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: none;
}

#stage {
    position: relative;
    /* width: 100%; */
    text-align: center;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    p {
        text-wrap: pretty;
        line-height: 1.5;
    }
}

#startButton {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 24px;
    background: #ff0;
    color: black;
    border: none;
    border-radius: 14px;
    corner-shape: notch;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgb(255 255 0 / 0.5);
    transition: all .2s;

    &:hover {
        transform: scale(1.02) translateY(-2px);
        background: #ffa600;
        corner-shape: bevel;
        letter-spacing: 1px;
    }
    &:active {
        transform: scale(1) translateY(0);
    }
}