* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h3 {
    text-align: center;
    margin-block: 3rem 2rem;
}

p {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}

#game {
    width: 400px;
    height: 500px;
    border: 4px solid rgb(0, 179, 74);
    margin: auto;
    overflow: hidden;
}

#character {
    width: 20px;
    height: 20px;
    background-color: rgb(8 144 255 / 0.98);
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000;
}

.block {
    width: 400px;
    height: 20px;
    background-color: rgb(70, 65, 65);
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}