* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}

#wrapper {
    border: 5px solid black;
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

canvas {
    background: url('background.png');
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#leaves_left {
    position: absolute;
    top: 50px;
    left: -100px;
    transition: 0.3s;
    animation: wobble 1.5s ease-in-out infinite;
    pointer-events: none;
}

#leaves_right {
    position: absolute;
    top: 50px;
    right: -100px;
    transition: 0.2s;
    animation: wobble 1.6s ease-in-out infinite;
    pointer-events: none;
}

canvas:hover ~ #leaves_left {
    left: -150px;
    transform: rotate(15deg);
}

canvas:hover ~ #leaves_right {
    right: -180px;
    transform: rotate(15deg);
}

@keyframes wobble {
    from, to {
        top: 50px;
    }
    50% {
        top: 56px;
    }
}