* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

#canvas1 {
    border: 3px solid black;
    background: url('background.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: none;
}