* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#111, #333, #111);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    user-select: none;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-block: 20px 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .25s;

    &:hover {
        transform: scale(1.05);
        background-color: royalblue;
        color: white;
    }
}

.title {
    margin: 0 auto;
    text-align: center;

    h1 {
        margin: 20px 0;
        color: transparent;
        -webkit-text-stroke: 1px white;
        letter-spacing: 2px;
    }
}

.wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    height: 500px;
    width: 302px;
    top: 15px;
}

.container {
    height: 2000px;
    width: 100%;
    background-image: url('images/road.png');
    background-size: contain;
    background-repeat: repeat-y;
}

.lane {
    float: left;
    width: 33.33%;
    height: 500px;
    min-height: 500px;
    /* display: inline-block; */
}

.lane .car {
    display: block;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    width: 40px;
    height: 80px;
    margin-left: 10%;
}

.box {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 2px solid black;
}

.obstacle {
    width: 100px;
    position: absolute;
}

.bullets {
    display: block;
    position: absolute;
    margin-left: 13%;
    bottom: 90px;
}

.game-over {
    position: absolute;
    top: 40%;
    background-color: red;
    width: 80%;
    padding: 10%;
    text-align: center;
    color: white;
    font-size: 27px;
}