@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #172449;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #3e6297, #5280c7);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers', cursive;
}

img {
    display: none;
}