* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#444, #111);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: transparent;
    background: linear-gradient(90deg, white, silver);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    margin-block: 2rem;
}

.container {
    /* width: 50%;
    height: 50%; */
}

canvas {
    border: 2px solid darkcyan;
    display: block;
    width: auto;
    height: 90%;
    margin-bottom: 2rem;
}