* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./assets/grass_night.png);
    max-height: 100%;
    max-width: 100%;
}