/* @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Unbounded&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./assets/grass_night.png);
    max-height: 100%;
    max-width: 100%;
}

#controls {
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50% 0;
    padding: 10px 10px 20px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font: 15px Play;
}

#buttons {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#buttons button {
    font: 13px Play;
    background: black;
    color: white;
    width: 80px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    transition: .2s;

    &:is(:hover, :focus-visible) {
        transform: scale(1.08);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.4);
    }

    &:active {
        transform: scale(1.05);
    }
}

#scoreScreen {
    margin-block-start: 6px;
    width: 300px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}

#scoreScreen > div {
    display: grid;
    row-gap: 6px;
}

#playerChoice {
    padding: 5px 10px;
}

.playerLabel {
    margin-block-start: 10px;
    font-size: 20px;
}

select {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    transition: .15s;

    &:hover {
        background: navy;
    }

    &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

    option {
        background: rgba(0, 0, 0, 0.8);
    }
}

.assets {
    display: none;
}

#gameMenu {
    display: none;
}

#gameOverScreen {
    background: url('assets/gameOver_forest.png');
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}