@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

#canvas1 {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('background.png');
}

img {
    display: none;
}